body{
	color: #505050 !important;
	background-color: #edf0ef;	
}


#add-trigger .row{
	margin-right: auto;
	margin-left: auto;
}

/*.modal .modal-footer{
	width: 90%;
}
*/
#nav-mobile{
	width: 210px !important;
}

nav .button-collapse i {
    font-size: 2.7rem;
    height: 56px;
    line-height: 56px;
    color: #ccc;
}

/*Top Navigation*/

nav .brand-logo {
    line-height: 2.5;
    padding: 0 15px;
}

.chip{
	position: relative;
	top: 10px;
	width: 60px;
}

#nav-mobile{
	top:64px;
}

.fa-support{
	color:red;
	font-size: 30px;
	margin-right: 5px;
	margin-left: 5px;
}

.user-role {
    color: #fff;
    font-size: 13px;
    text-shadow: 1px 1px 1px #444;
    position: absolute;
    top: 15px;
    right: 83px;
}

nav ul a{
	color: #505050 !important;
}

img.responsive-img, video.responsive-video {
    max-width: 100%;
    height: auto;
    width: 37px;
    margin: 2px 9px -20px 2px;
}

/*Side Navigation*/

.side-nav.fixed a {
    color: #757575;
    font-weight: bold;
}

.side-nav.fixed li .fa{
	font-size: 20px;
	margin-right: 15px;
}

.side-nav li.active {
    background-color: #202428;
    border-left: 5px solid #41cf98;
}

.default-site-dropdown .dropdown-content{
	position: static !important;
	margin-bottom: 10px;
}

#default-site ul li a{
	font-size: 12px !important;
	line-height: 5px;
}

#default-site li:hover{
	background:white;
}

#dropdown2{
	position: static;
}

ul #dropdown2 li a:hover {
	background: none;
}

.current-site{
	float: none;
	padding: 0 15px;
	margin-bottom: -20px;
}

.current-site-arrow{
	margin-left: 10px;
}

.side-nav li:hover {
    background-color: #202428;
}

.change-default-site{
	max-height: 80% !important;
}


/*Container*/
.container .row {
    margin-left: 2.25rem;
    margin-right: -11.75rem;
    margin-top: 10px;
    /*border: 1px solid red;*/
}


/* Visitors Stats Cards*/

.custom-panel{
	max-height: 100px;
}

.card-panel h4{
 	color: #000;
 	margin: 0.14rem 0 0.912rem 0;
}

.card-panel{
	margin: 0.5rem 0rem 1rem -0.5em;
}

.stat-title{
	padding-left: 10px;
}

.green-card{
	background-image: url('images/visitors.png');
	background-repeat: no-repeat;
	border-left: 5px solid teal;

}

.orange-card{
	background-image: url('images/unique.png');
	background-repeat: no-repeat;
	border-left: 5px solid orange;

}

.red-card{
	background-image: url('images/bounced.png');
	background-repeat: no-repeat;
	border-left: 5px solid red;
}

.black-card{
	background-image: url('images/total_visitors.png');
	background-repeat: no-repeat;
	border-left: 5px solid black;

}

.cards-stats-image{
	position: relative;
	top: -95px;
	right: 30px;
}

/*Call to Action Buttons Cards*/

.settings-icon{
	font-size: 35px;
	position: relative;
	top: 8px;
	margin-right: 5px;
}

.green-footer{
	text-align: center;
	background: #00796b;
	height: 24%;
}

.red-footer{
	text-align: center;
	background: #e53935;
	height: 24%;
}

.call-to-action{
	height: 250px;
	max-height: 250px;
	margin-left: -8px;
}

.call-to-action .card-content{
	height: 190px;
	max-height: 190px;
}

.add-trigger{
	color: white;
}

.card-action h5{
	margin: 0px;
	line-height: 50%;
}

.site-trigger-stats{
	height: 250px;
	max-height: 250px;
}

.site-trigger-stats-heading{
	margin: 0 auto;
}

.live-site-trigger-box{
	margin: 20px 0px 0px 0px;
}

.traffic-trend{
	margin-top: 3px;
}

.fa-arrow-up{
	color: teal;
}

.fa-arrow-down{
	color: red;
}

.stable{
	font-size: 20px;
	color:orange;
	margin-top: 8px;
}

.sort-arrow{
	color: white;
}

.sort-btn{
	position: relative;
	top: 8px;
}

/*Search box*/

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type=search] {
  background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  height: 20px;
}

input[type=search]:focus {
  width: 130px;
  height: 20px;
  background-color: #fff;
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}


/* Demo 2 */

#demo-2 input[type=search] {
  width: 20px;
  height: 20px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
  position: relative;
  right: 155px;
  top: 7px;
}

#demo-2 input[type=search]:hover {
  background-color: #fff;
}

#demo-2 input[type=search]:focus {
  width: 130px;
  height: 20px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  border-radius: 0px;

}

#demo-2 input:-moz-placeholder {
  color: transparent;
}

#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}



/*.input-field input[type=search]:focus {
    margin-top: 0px !important;
}*/

/*Floating add site button */
.add-site-btn{
	right: -180px;
}

/*Footer*/

.footer{
	width: 100%;
	height: 60px;
	color: grey;
	margin-top: 20px;
}

.rights-text{
	margin-left: 17rem;
}

.copy-right-text{
	padding-right: 40px; 
}


/*settings*/

.sub-tabs{
	background: transparent;
}

.sub-tabs .tab a {
	font-size: 12px;
}

.form-footer{
	margin-top: 10px;
}

.hosting-panel .hosting-detail{
	font-size: 15px;
}

.host-email{
	color: teal;
}

.host-switch{
	padding: 3px 0px 0px 0px;
}

.constraint-btn{
	margin-top: 20px;
}

.set-email-btn{
	position: relative;
	top: -30px;
    left: 58px;
}

/*Dashboard*/

.dash{
	margin: 0.5rem 2rem 1rem -2.7em;
	/*overflow: auto;*/
}

.row .col .s12 .dash{
	/*margin-right: 12rem;*/
}

/*Dashboard Top 10 countries*/
.top-country td{
	padding: 6px 5px;
}

.row{
	/*border: 2px solid white;*/
}

#today .row{
	margin-right: -2.1rem;
}

.triggers-edit-icon{
	font-size: 25px;
	padding: 5px;
	color: teal;
}

.dash-tabs{
	width: 98.3%;
    margin-right: 12px;
}

.triggers-delete-icon{
	font-size: 25px;
	padding: 5px;
	color: #ee6e73;
}

.tabs{
	overflow-x: hidden;
	cursor: default; 
}

.green-arrow{
	color: teal;
    font-size: 55px;
    position: relative;
    top: 12px;
    left: -2px;
    z-index: -999;
}

.red-arrow{
	color: red;
    font-size: 55px;
    position: relative;
    top: 12px;
    left: -2px;
    z-index: -999;
}

/*.site-least-hr{
	background: red;
	width: 98px;
    height: 5px;
    position: relative;
    top: 30px;
    left: -23px;
    z-index: -999;
}
*/

.site-card .col .m2{
	margin-right: 5px;
}

hr{
	background: teal;
	height: 2px;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
    top: -40px !important;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    height: 12px !important;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
     border-bottom: 0px solid !important; 
}

table.striped>tbody>tr>td {
    border-radius: 0px;
    padding-left: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
	
	.container .row{
		margin-left: auto;
		margin-right: auto;
	}

	.card-action h5{
		font-size: 20px;
	}

	.card-panel {
    margin: 0.5rem 0rem 1rem -0.5em;
	}

	.pagination li{
		font-size: 15px !important;
	}

	.rights-text{
		margin-left: 2rem;
	}

	.sort-btn{
		padding-right: 40px;
	}

	#demo-2 input[type="search"] {
	    width: 20px;
	    height: 20px;
	    padding-left: 10px;
	    color: transparent;
	    cursor: pointer;
	    position: relative;
	    left: 0px;
	    top: 15px;
	}
	
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
	.container .row{
		margin-left: auto;
		margin-right: auto;
	}

	.stat-title{
		display: block;
	}

	.rights-text{
		margin-left: 2rem;
	}

	#demo-2 input[type=search] {
	    width: 20px;
	    height: 20px;
	    padding-left: 10px;
	    color: transparent;
	    cursor: pointer;
	    position: relative;
	    right: 95px;
	    top: 7px;
	}
}

@media only screen and (min-width: 900px) and (max-width: 1024px) {
	.container .row {
	    margin-left: 4.75rem;
	    margin-right: -9.75rem;
	    margin-top: 10px;
	    /*border: 1px solid red;*/
	}

	.orange-card, .green-card, .red-card, .black-card{
		background-image: none;
	}

	.stat-title{
		display: block;
	}

	.rights-text{
		margin-left: 2rem;
	}

	.card-action h5{
	  	font-size: 20px;
	  }

	  #demo-2 input[type=search] {
	      width: 20px;
	      height: 20px;
	      padding-left: 10px;
	      color: transparent;
	      cursor: pointer;
	      position: relative;
	      right: 50px;
	      top: 7px;
	  }

	  .sort-btn{
	  	padding: 4px 5px 5px 5px;
	  }
}


/*

@media only screen and (min-width: 900px) and (max-width: 993px) {
.container .row{
		margin-left: auto;
		margin-right: auto;
	}

	.side-nav{

	}

	.stat-title{
		display: block;
	}
	
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
   .container .row{
   	margin-left: 2.25rem;
   	margin-right: -10.25rem;
   }

#nav-mobile{
	width: 170px !important;
}

.col .l3{
	padding: 0px;
}

.card-action h5{
  	font-size: 20px;
  }

  .stat-title{
  	display: block;
  }
	
}

@media only screen and (min-width: 993px){
.row .col.l12 {
    width: 100%;
    margin-left: 0.6rem;
    left: auto;
    right: auto;
    margin-right: auto;
}
}*/

